body {
	font-family: Arial;
	width: 80%;
	margin: 0 auto;
	padding: 0 auto;
	background: purple;
}

ul {
	color: white;
}

.rotate {
	transform: rotate(100deg);
}

header {
	background: purple;
	border-style: groove;
	text-align: center;
}
main {
	background: black;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

footer {
	background: purple;
	color: white;

}